<section>
  <article>
    <header>
      <img class="product__image" alt="Blog featured image" src="images/dummy-licensed/blog-image-sidebar.jpg" width="747" height="284">
      <a href="single-post.html"><h3><span class="light">Organique</span> post with an image</h3></a>
      <div class="push-down-15">
        <time class="blog__date">January 6, 2014</time> / <a class="secondary-link" href="#">3 comments</a>
      </div>
    </header>
    <p class="blog-content__text--highlight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vulputate, leo vel malesuada tincidunt, purus nunc tristique erat, at elementum tellus mi nec mi. Nunc rutrum ullamcorper blandit.</p>
    <p class="blog-content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pellentesque consectetur leo, eu porta metus. Nulla justo lacus, aliquam vel libero nec, viverra placerat neque. Cras nec nunc sollicitudin, faucibus enim tristique, molestie ante. Nunc a dolor eget lectus venenatis ullamcorper. Nullam dictum elementum lacus quis facilisis. Etiam sit amet euismod eros. Phasellus mollis tempus tempus. Fusce ut sagittis quam, quis facilisis tellus. Nam vel aliquet leo. Integer lacus tortor, ullamcorper sit amet interdum at, pulvinar sit amet risus.</p>
    <p class="blog-content__text">Nulla justo lacus, aliquam vel libero nec, viverra placerat neque. Cras nec nunc sollicitudin, faucibus enim tristique, molestie ante. Nunc a dolor eget lectus venenatis ullamcorper. Nullam dictum elementum lacus quis facilisis. Etiam sit amet euismod eros. Phasellus mollis tempus tempus. Fusce ut sagittis quam, quis facilisis tellus. Nam vel aliquet leo. Integer lacus tortor, ullamcorper sit amet interdum at, pulvinar sit amet risus.</p>
  </article>
  {{> divider}}
  <article>
    <header>
      <a href="single-post.html"><h3><span class="light">This</span> blog is designed for maximum readibility</h3></a>
      <div class="push-down-20">
        <time class="blog__date">January 3, 2014</time> / <a class="secondary-link" href="#">2 comments</a>
      </div>
    </header>
    <p class="blog-content__text--highlight">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p class="blog-content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pellentesque consectetur leo, eu porta metus. Nulla justo lacus, aliquam vel libero nec, viverra placerat neque. Nunc a dolor eget lectus venenatis ullamcorper. Nullam dictum elementum lacus quis facilisis. Etiam sit amet euismod eros. Phasellus mollis tempus tempus. Fusce ut sagittis quam, quis facilisis tellus. Nam vel aliquet leo. Integer lacus tortor, pulvinar sit amet risus.</p>
    <p class="blog-content__text">Nulla justo lacus, aliquam vel libero nec, viverra placerat neque. Cras nec nunc sollicitudin, faucibus enim tristique, molestie ante. Nunc a dolor eget lectus venenatis ullamcorper. Nullam dictum elementum lacus quis facilisis. Etiam sit amet euismod eros. Phasellus mollis tempus tempus. Fusce ut sagittis quam, quis facilisis tellus. Nam vel aliquet leo. Integer lacus tortor, ullamcorper sit amet interdum at, pulvinar sit amet risus.</p>
  </article>
  {{> divider}}
  <article>
    <header>
      <a href="single-post.html"><h3><span class="light">And</span> this is how it looks third post</h3></a>
      <time class="blog__date">January 1, 2014</time> / <a class="secondary-link" href="#">7 comments</a>
    </header>
  </article>
  {{> divider}}
  <article>
    <header>
      <a href="single-post.html"><h3><span class="light">Lorem</span> ipsum dolor sit</h3></a>
      <time class="blog__date">January 1, 2014</time> / <a class="secondary-link" href="#">7 comments</a>
    </header>
  </article>
  {{> divider}}
  <article>
    <header>
      <a href="single-post.html"><h3><span class="light">Welcome</span> to Organique</h3></a>
      <time class="blog__date">December 15, 2013</time> / <a class="secondary-link" href="#">3 comments</a>
    </header>
  </article>
  {{> divider}}
  <article>
    <header>
      <a href="single-post.html"><h3><span class="light">Lorem</span> ipsum dolor sit amet nulla</h3></a>
      <time class="blog__date">November 12, 2013</time> / <a class="secondary-link" href="#">12 comments</a>
    </header>
  </article>
  {{> blog-last-divider}}
</section>
<nav>
  <ul class="pagination">
    <li><a class="pagination--nav" href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
    <li><a href="#">1</a></li>
    <li><a class="active" href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a class="pagination--nav" href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
  </ul>
</nav>