<div class="top">
  <div class="container">
    <div class="row">
      <div class="col-xs-12  col-sm-6">
        <div class="top__slogan">
          Made with <small><span class="glyphicon  glyphicon-heart  tertiary-color"></span></small> for a healthy lifestyle
        </div>
      </div>
      <div class="col-xs-12  col-sm-6">
        <div class="top__menu">
          <ul class="nav  nav-pills">
            <li><a href="#">My account</a></li>
            <li class="dropdown  js--mobile-dropdown">
              <a class="dropdown-toggle" href="#">
                English <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Deutsch</a></li>
                <li><a href="#">Espagnol</a></li>
              </ul>
            </li>
            <li class="dropdown  js--mobile-dropdown">
              <a class="dropdown-toggle"  href="#">
                USD <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">EUR</a></li>
                <li><a href="#">YEN</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>