{{> head}}
{{> header}}
{{> jumbotron-business}}
{{> banners-small}}
<div class="container">
  {{> motivational-stories}}
</div>
{{> team}}
<div class="container">
  {{> widgets-business}}
  {{> subscribe-on-newsletter}}
  {{> story-and-plans}}
</div>
{{> testimonials}}
<div class="simple-map  js--where-we-are"></div>
{{> footer}}