
@{
	ViewBag.Title = "Contact";
	Layout = null;
}

<br/>
<br/>
<div class="container  push-down-30">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="center"><span class="light">Contact</span> Us</h1>
			<hr class="divider">
			<div class="text-shrink">
				<p class="text-highlight">Contact us with address, phone number and email below. If you want to visit us then please come in opening time</p>
			</div>
			<hr class="divider  divider-about">
			<div class="push-down-30"></div>
			<div class="row">
				<div class="col-xs-12  col-sm-6">
					<h2><span class="light">Organique</span> Itd</h2>
					<h5>
						Dunajska cesta 17,<br>
						1000 Ljubljana,<br>
						Slovenia, Europe
					</h5>
					<span class="glyphicon  glyphicon-earphone"></span> <span class="text-dark">00386 31 567 537</span><br>
					<span class="glyphicon  glyphicon-envelope"></span> <a class="secondary-link" href="mailto:hello@proteusnet.com"><strong>hello@proteusnet.com</strong></a>
				</div>
				<div class="col-xs-12  col-sm-6">
					<div class="contact__opening-time">
						<!-- Opening Times Widget -->
						<div class="sidebar-item  opening-time  light-paper-pattern">
							<h3 class="opening-time__title">Opening time</h3>
							<hr class="divider-dark">
							<div class="time-table  js--timetable">
								<dl class="week-day" data-day="1">
									<dt>
										Monday
									</dt>
									<dd>
										8:00 - 16:00
									</dd>
								</dl>
								<dl class="week-day" data-day="2">
									<dt>
										Tuesday
									</dt>
									<dd>
										8:00 - 16:00
									</dd>
								</dl>
								<dl class="week-day" data-day="3">
									<dt>
										Wednesday
									</dt>
									<dd>
										8:00 - 16:00
									</dd>
								</dl>
								<dl class="week-day" data-day="4">
									<dt>
										Thursday
									</dt>
									<dd>
										8:00 - 16:00
									</dd>
								</dl>
								<dl class="week-day" data-day="5">
									<dt>
										Friday
									</dt>
									<dd>
										8:00 - 16:00
									</dd>
								</dl>
								<dl class="week-day" data-day="6">
									<dt>
										Saturday
									</dt>
									<dd>
										8:00 - 16:00
									</dd>
								</dl>
								<dl class="week-day  closed" data-day="0">
									<dt>
										Sunday
									</dt>
									<dd>
										CLOSED
									</dd>
								</dl>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

